$sc-blue: #019C86;
$sc-grey: #AAAAAA;
$sc-light-grey: #EAEAE9;

$fade-out: all .25s ease-out;

html {
  margin: 0;
}

body {
  font-size: 16px !important;
}

.page-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0;
  background-color: #FAFAF9;
}

.sc-sidebar {
  background-color: #423A3E;
  width: 250px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sc-sidebar__header {
  margin-top: .5em;
  margin-bottom: 4em;
  position: relative;
  padding-left: 32px;
  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    height: 25px;
    width: 25px;
    background: url('../images/gcf_logomark_white@2x.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
  }
}

.sc-sidebar__main {
  flex: 1;
  margin-bottom: 2em;
}

.sc-logo {
  color: #fff;
  font-weight: 700;
}

.sc-nav {
  h4 {
    color: $sc-grey;
    font-size: 12px;
    margin-top: 6em;
  }

  li {
    margin-bottom: .5em;
    &.is-selected {
      a {
        color: #fff;
        font-weight: 700;
      }
    }
  }
  a {
    color: $sc-light-grey;
    text-decoration: none;
  }
  .sc-badge {
    position: relative;
    top: 2px;
  }
}

.sc-main {
  flex: 1;
  padding: 1.5em;
}

.sc-conversation {
  background-color: #fff;
}

.sc-main__header {
  margin-bottom: 4.8em;
}

.sc-message-item {
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 1em;
  padding: 1.5em 1em;
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  border-left: 3px solid #fff;
}

.sc-message-item--unsent {
  border-color: $sc-blue;
}

.sc-message-item__client-info, .sc-message-item__message, .sc-message-item__date, .sc-message-item__actions {
  flex: 1;
}

.sc-message-item__name {
  font-weight: 700;
  margin-bottom: 0;
}

.sc-message-item__meta {
  font-weight: 300;
  margin-bottom: 0;
  font-style: italic;
}

.sc-message-item__actions {
  flex: 0;
  text-align: right;
}

.sc-conversation {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sc-conversation__header {
  border-bottom: 2px solid $sc-light-grey;
  padding: 1.5em;
}

.sc-conversation__intro {
  padding: 3em 1.5em;
  
  h3 {
    text-align: center;
    max-width: 20em;
    margin: 0 auto;
  }
} 

.sc-conversation__name {
  margin-bottom: 0;
}

.sc-conversation__meta {
  margin-bottom: 0;
}

.sc-conversation__main {
  flex: 1;
  padding-top: 2em;
  overflow: auto;
}

.sc-case-status {
  text-align: center;
  margin: 2em 0;
  .sc-case-status__container {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 300;
    max-width: 35em;
    padding: .7em 1.5em;
    background-color: #423A3E;
    color: #FFF;
    box-shadow: 0px 1px 3px rgba(#000, .33);
    border-radius: 25px;
    font-size: 12px;
  }

  + .sc-case-status {
    margin-top: -1.5em;
  }
}

.sc-case-status__pathway--purple {
  font-weight: 700;
}

.sc-case-status__status--created {
  font-weight: 700;
  color: #7ED321;
}

.sc-case-status__status--pended {
  font-weight: 700;
  color: #F5A623;
}

.sc-date-marker {
  margin-top: 2em;
  position: relative;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background-color: $sc-light-grey;
  }
}

.sc-date-marker__date {
  position: relative;
  z-index: 1;
  display: inline-block;
  background-color: #FFF;
  padding: .5em .7em;
  font-weight: 700;
  font-size: 14px;
}

.sc-message {
  margin: 1.5em;
  display: flex;
}

.sc-message--you {
  transition: $fade-out;
  justify-content: flex-end;
  .sc-message__avatar {
    order: 2;
  }
  .sc-message__bubble {
    transition: $fade-out;
    margin-right: 1em;
    margin-left: 0;
    background-color: rgba($sc-blue, 1);
    color: #fff;
  }

  .sc-message__actions {
    transition: $fade-out;
    visibility: hidden;
    pointer-events: none;
    height: 0;
  }

  .sc-message__actions-left {
    flex: 1;
  }

  .sc-message__approve, .sc-message__deny, .sc-message__edit {
    display: none;
  }

  &.sc-message--unsent {
    .sc-message__bubble {
      margin-right: 1em;
      margin-left: 0;
      background-color: rgba($sc-blue, .15);
      margin-bottom: 4em;
      color: #000;
    }

    .sc-message__actions {
      visibility: visible;
      pointer-events: all;
      height: 50px;
      position: relative;
      top: 1em;
      margin-bottom: -1.5em;
      display: flex;
    }

    .sc-message__approve, .sc-message__deny, .sc-message__edit {
      display: inline-block;
    }
  }
}

.sc-message__approve, .sc-message__deny, .sc-message__edit {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin: 0 .5em;
  text-indent: -9999px;
  height: 50px;
  width: 50px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(#000, .15);
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.sc-message__deny {
  background-color: #FF001F;
  &:before {
    height: 20px;
    width: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background-image: url('../images/icon_deny.png');
    background-size: 20px 20px;
  }
}

.sc-message__approve {
  background-color: #7ED321;
  &:before {
    height: 18px;
    width: 24px;
    margin-left: -12px;
    margin-top: -9px;
    background-image: url('../images/icon_approve.png');
    background-size: 24px 18px;
  }
}

.sc-message__edit {
  &:before {
    height: 20px;
    width: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background-image: url('../images/icon_edit.png');
    background-size: 20px 20px;
  }
}


.sc-message__avatar {
  width: 50px;
  height: 50px;
  background-color: $sc-grey;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.sc-message__bubble {
  flex: 1;
  max-width: 35em;
  margin-left: 1em;
  background-color: $sc-light-grey;
  padding: 1em;
  border-radius: 12px;
}

.sc-message__content {
  p:last-of-type {
    margin-bottom: 0;
  }
}

.sc-message__intro {
  font-weight: 700;
}

.sc-conversation__footer {
  border-top: 2px solid $sc-light-grey;
  padding: 1em 1.5em;
  display: flex;
}

.sc-conversation__input {
  flex: 1;
  margin-right: 1em;
}

.sc-button {
  display: inline-block;
  background-color: #fff;
  padding: .3em 1em;
  font-size: 16px;
  border-radius: 25px;
  border: 2px solid $sc-grey;
  color: #000;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $sc-blue;
    border-color: $sc-blue;
    color: #fff;
  }
}

.sc-input {
  padding: .3em 1em;
  border-radius: 12px;
  border: 2px solid $sc-grey;
}

.sc-badge {
  float: right;
  background-color: $sc-blue;
  padding: 0 1em;
  font-size: 12px;
  border-radius: 12px;
  font-weight: 700;
}